<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xcu.mapper.FileFolderMapper">

    <select id="selectFileInfoPage" resultType="com.xcu.entity.vo.LoadDataListVO">
        select
            tff.file_folder_id as fileId,
            tff.parent_id as filePid,
            f.file_size as fileSize,
            tff.name as fileName,
            f.file_cover as fileCover,
            tff.create_time as createTime,
            tff.update_time as lastUpdateTime,
            tff.is_directory as folderType,
            f.file_category as fileCategory,
            f.file_type as fileType,
            tff.status as status
        from
            easypan.tb_file_folder tff
        left join
            easypan.tb_file f
        on
            tff.file_folder_id = f.file_id
        <where>
            <if test="category != null">
                AND f.file_category = #{category}
            </if>
            <if test="filePid != null">
                AND tff.parent_id = #{filePid}
            </if>
            <if test="fileName != null">
                AND tff.name LIKE CONCAT('%', #{fileName}, '%')
            </if>
        </where>

    </select>

    <update id="updateBatchFolderId">
        update
            easypan.tb_file_folder tff
        set
            tff.parent_id = #{filePid}
        where
            tff.user_id = #{userId}
        and tff.file_folder_id in
        <foreach collection="fileId" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectFolderInfoList" resultType="com.xcu.entity.vo.GetFolderInfo">
        select
            tff.name as fileName,
            tff.file_folder_id as fileId
        from
            easypan.tb_file_folder tff
        where
            tff.file_folder_id in
            <foreach collection="folderIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        order by tff.file_folder_id
    </select>

    <update id="recursiveRecovery">
        WITH RECURSIVE directory_tree AS (
            -- 基础成员：选择根目录及其直接关联的文件
            SELECT
                tff.file_folder_id
            FROM
                easypan.tb_file_folder tff
            WHERE
                tff.file_folder_id in
                <foreach collection="idArray" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            UNION ALL
            -- 递归成员：选择子目录及其直接关联的文件
            SELECT
                tff1.file_folder_id
            FROM
                easypan.tb_file_folder tff1
            INNER JOIN
                directory_tree dt
            ON tff1.parent_id = dt.file_folder_id
        )
        UPDATE
            easypan.tb_file_folder tff
        SET
            tff.status = 1,
            tff.recovery_time = CURRENT_TIMESTAMP
        WHERE
            tff.file_folder_id IN (SELECT file_folder_id FROM directory_tree)

    </update>


</mapper>