<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xcu.mapper.FileMapper">

    <select id="selectUserSpace" resultType="java.lang.Integer">
        select ifnull(sum(easypan.tb_file.file_size), 0)
        from easypan.file_info, easypan.tb_user
        where easypan.tb_user.user_id = #{id}
    </select>

    <update id="updateRefCount">
        update easypan.tb_file
        set easypan.tb_file.ref_count = easypan.tb_file.ref_count + 1
        where easypan.tb_file.file_md5 = #{fileMd5}
    </update>

</mapper>